### Массив и циклы

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers[1]

2

In [ ]:
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
word = "Привет мир!"

for letter in word:
  print(letter)

П
р
и
в
е
т

м
и
р
!

Операции над элементами массива

In [ ]:
mass_sum = 0

for i in numbers:
  mass_sum += i

print("Cумма значений массива равна:", mass_sum)

Cумма значений массива равна: 45

Прибавим к каждому элементу число

In [ ]:
evaluations = [4, 2, 3, 4, 3, 3, 3, 2, 3]

for i in evaluations:
   i = i + 1

print("Новый массив оценок:", evaluations)

Новый массив оценок: [4, 2, 3, 4, 3, 3, 3, 2, 3]

In [ ]:
evaluations = [4, 2, 3, 4, 3, 3, 3, 2, 3]

mass_len = len(evaluations)

for i in range(mass_len):
  print(i)

0
1
2
3
4
5
6
7
8

Получим каждый элемент массива

In [ ]:
evaluations = [4, 2, 3, 4, 3, 3, 3, 2, 3]

for i in range(len(evaluations)):
  print(evaluations[i])

4
2
3
4
3
3
3
2
3

In [ ]:
evaluations = [4, 2, 3, 4, 3, 3, 3, 2, 3]

for i in range(len(evaluations)):
  evaluations[i] += 1

print("Новый массив оценок:", evaluations)

Новый массив оценок: [5, 3, 4, 5, 4, 4, 4, 3, 4]

### In, len, sum, all, any

Общие методы для разных контейнеров, рассмотрим их на примере списков

оператор вхождения **in**

In [ ]:
evaluations_10b = [4, 2, 3, 4, 3, 3, 3, 2, 3]
evaluations_7a = [4, 4, 3, 4, 3, 3, 3, 3, 3]

In [ ]:
2 in evaluations_10b # наличие двойки за тест у класса

True

In [ ]:
2 in evaluations_7a

False

Длина массива

In [ ]:
len(evaluations_10b)

9

Сумма элементов

In [ ]:
sum([1, 2, 3])

6

In [ ]:
sum([1, 2, "3"])

TypeError: ignored

функции all(x) и any(x)

Функция all возвращает логическое значение True, если все элементы последовательности равны True (или последовательность пуста) и False в противном случае.

Напоминание о приведении типов: к значению True приводятся все отличные от нуля числа и любые непустые последовательности, к значению False приводится число нуль и все пустые последовательности.

In [ ]:
all([True, True, True])

True

In [ ]:
all([True, True, True])

True

In [ ]:
all([True, True, False])

False

Функция any возвращает логическое значение True, если хотя бы один элемент непустой последовательности
равен True. В противном случае, а также если последовательность пуста, возвращает False.

In [ ]:
any([False, False, True])

True

In [ ]:
any([False, False, False])

False

### Слайсинг (срезы)


В Python имеется удобное средство получения частей упорядоченных последовательностей, в частности строк: слайсы (они же срезы или сечения. Синтаксис операции:

$$s[n: m: k]$$

Где $s$ - имя переменной строкового типа, $n, m, k$ выражения целого типа ($k \neq 0$).


Значение указанного выражения составляется из символов с индексами равными $x = n +i * k$, где $0 \leq i \leq \frac{m-n}{k}$, причем в том же порядке, что и в строке $s$. Для простоты запоминания можно интерпретировать слайс так:

С какого индекса n (включая), по какой индекс m (не включая), с каким шагом k.

Если внутри квадратных скобок стоит одно двоеточие, то считается, что это двоеточие между первым и вторым
параметрами (n и m). В этом случае сечение строки подпоследовательность исходной строки начиная с символа с индексом n и заканчивая символом с индексом m-1.
* Если не указан первый параметр (начало подстроки), то его значение полагается равным 0
* Если не указан второй параметр (конец подстроки), то он полагается равным len(s)
* Если не указан третий параметр (шаг), то он полагается равным 1.

In [ ]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# с первого включительно по 4й не включя индекс
c[1:8]

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
c[::-2]

[9, 7, 5, 3, 1]

In [ ]:
c[:2]

[1, 2]

In [ ]:
c[:3:2] # с нулевого включительно по третий не включая с шагом 2

[1, 3]

In [ ]:
# шагаем с нулевого индекса по последний с шагом - 1
# это и есть разворот списка
c[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Важное отличие списков от строк заключается в том, что списки можно изменять - как его отдельные элементы, так и перечень самих элементов (добавлять, удалять элементы из последовательности и т.п.). Ниже указаны некоторые такие операции:

In [ ]:
# заменим список на 2м индексе на единицу
c[2] = 1

In [ ]:
# можно увидеть, что значения поменялись
c

[1, 2, 1, 4, 5, 6, 7, 8, 9]

In [ ]:
# можно так же заменять целые диапазоны
# теперь вместо диапазона начинающегося с 1 индеса включительно
# и заканчивающегося на 2 индесе не включая записаны значения 10 и 20
c[1:2] = [10, 20]
c

[1, 10, 20, 1, 4, 5, 6, 7, 8, 9]

#### Append, pop

Эти два метода списка чаще всего используются в реальной работе:


c.append(elem)

добавление элемента elem в конец списка c:

In [ ]:
mass = [1, 2, 3]

In [ ]:
mass + [4]

[1, 2, 3, 4]

In [ ]:
mass.append(4)

mass

[1, 2, 3, 4]

Разница между конкатенацией и добавлением элемента следующая: в первом случае это создание нового значения и присвоение этого нового значения переменной, во втором случае - это изменение текущего значения. Так что конкатенация определена и для строк и для списков, а добавление элемента - только для списков.

c.pop()

In [ ]:
mass.pop()

mass

[1, 2, 3]

Операция pop() имеет возвращаемое значение - элемент, который был удален. Пример использования:

In [ ]:
deleted = mass.pop()

mass

[1, 2]

In [ ]:
# удаленный элемент, при прошлом запуске
# результат возвращения функции pop никуда не был записан
deleted

3

Подводные камни

In [ ]:
#100 45 5 6733 42 86 334
numbers = input("введи свои любимые числа через пробел: ").split()

print(sum(numbers))

введи свои любимые числа через пробел: 23555

TypeError: ignored

In [ ]:
summ = 0

for i in numbers:
  summ += int(i)

print(summ)

23555

### Генератор списков

Генератор списков - компактный способ создания списка из любого существующего итерируемого объекта. Его можно использовать генератор для фильтрации, форматирования, изменения или выполнения других небольших задач с существующими итерируемыми объектами, такими как строки, кортежи, множества, списки и т.д.

In [ ]:
a = [i**2 for i in range(10)]
a
# a [2]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[elem - 81 for elem in a]

[-81, -80, -77, -72, -65, -56, -45, -32, -17, 0]