In [8]:
import pandas as pd
import random as rd
import string as st

rand_numbers = [rd.randint(10, 100) for i in range(61)]
series = pd.Series(rand_numbers)

Если количество элементов серии больше 60, то серия будет выводится в сокращённом формате.

In [9]:
print(series)

0     79
1     10
2     47
3     15
4     84
      ..
56    86
57    86
58    58
59    12
60    35
Length: 61, dtype: int64

Метод `head(n)` (аналогично `[ : n]`) показывает `n` первых элементов. Если при вызове `head()` Вы укажете больше элементов, чем есть в серии, то выводится вся серия без ошибок. По умолчанию показывает всю серию.

In [11]:
series.head(2)

0    79
1    10
dtype: int64

Метод `tail(n)` (аналогично `[-n: ]`) показывает `n` последних элементов. По умолчанию показывает всю серию.

In [15]:
print(series.tail())

56    86
57    86
58    58
59    12
60    35
dtype: int64

Метод `take(n)` показывает `n`-ный элемент (элементы). Аргументом является список индексов. Удобно совмещать с функцией `range()`.

In [26]:
print(series.take([56]), '\n')
print(series.take(range(56, 60, 2)))

56    86
dtype: int64

56    86
58    58
dtype: int64

##### Срезы и индексация.

In [30]:
print(series[56:58], '\n')
print(series[57])
print(seria[200]) # Ошибка, выход за допустимые индексы.

56    86
57    86
dtype: int64

86

NameError: name 'seria' is not defined

In [34]:
print(series == series[:])
print(seria is seria[ : ])

0     True
1     True
2     True
3     True
4     True
      ...
56    True
57    True
58    True
59    True
60    True
Length: 61, dtype: bool

NameError: name 'seria' is not defined

In [41]:
indexes = list(str.ascii_lowercase)
letters_series = pd.Series([i for i in range(26)], indexes)

rd.shuffle(letters_series)
print(letters_series)

a    19
b     9
c    22
d     6
e    17
f    12
g    13
h    20
i     4
j     0
k     5
l    25
m     1
n    24
o    11
p    21
q    18
r     7
s    10
t     3
u     2
v    23
w     8
x    16
y    15
z    14
dtype: int64

Срез по меткам возможен только, если метки все уникальны.

In [43]:
print(letters_series['t': 'z'])

t     3
u     2
v    23
w     8
x    16
y    15
z    14
dtype: int64

Метки необязательно должны быть уникальными.

In [46]:
series_two = pd.Series([1, 2, 3], [1, 1, 1])
print(series_two)

1    1
1    2
1    3
dtype: int64

In [52]:
series_two.iloc[1] # Метод позволяет получить значение по номеру ряда.

2

In [53]:
series_two.loc[1] # Метод позволяет получить значение по меткам.

1    1
1    2
1    3
dtype: int64

Как быстро поменять значение по меткам.

In [56]:
series_two.loc[1] = 15
print(series_two)

1    15
1    15
1    15
dtype: int64

Сортировка серии.

In [61]:
print(series.sort_values())
print(series, '\n')

1     10
29    11
13    11
30    12
26    12
      ..
14    89
51    93
53    94
35    95
38    96
Length: 61, dtype: int64
0     79
1     10
2     47
3     15
4     84
      ..
56    86
57    86
58    58
59    12
60    35
Length: 61, dtype: int64

In [64]:
series.sort_values(inplace = True) # Аргумент inplace присваивает результат переменнной.
print(series)

1     10
29    11
13    11
30    12
26    12
      ..
14    89
51    93
53    94
35    95
38    96
Length: 61, dtype: int64

Библиотека `faker` удобна для заполнения радомными данными.

In [65]:
import faker as fk

Метод `name()` возвращает рандомную строку имени и фамилии.

Метод `date()` возвращает рандомную дату.